h1{
  font-size:100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
}
.heading{
  background-image: url("/Users/Ollie/Documents/CodeCademy/projects/Dasmoto Arts/resources/pattern.jpeg");
}
h2{
  font-size: 32px;
  font-weight: bold;
  color:white;
}
.brushes h2{
  background-color:mediumspringgreen;
}

.frames h2{
  background-color:lightcoral;
}
.paint h2{
  background-color:skyblue;
}
p,span,h2,h1,h3{
  font-family: Helvetica;
}
span{
  font-weight:bold;
  color:blue;
}
